.prvo
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: lightblue;
}

.drugo
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: red;
}

.trece
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: brown;
}